<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>qq.com</string>
	<string>163.com</string>
	<string>126.com</string>
	<string>sina.com</string>
	<string>21cn.com</string>
	<string>sohu.com</string>
	<string>yahoo.com</string>
	<string>56.com</string>
	<string>sogou.com</string>
	<string>hotmail.com</string>
	<string>msn.com</string>
	<string>foxmail.com</string>
	<string>outlook.com</string>
	<string>yahoo.com</string>
	<string>gmail.com</string>
	<string>aol.com</string>
	<string>mail.com</string>
	<string>walla.com</string>
	<string>inbox.com</string>
</array>
</plist>
